client_secret.json
token.pickle

.env


*.json

*.txt

!requirements.txt

*.log


usedId.json
video_info_posted_web.txt


__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/
.env/

flask_session/


.idea/

.vscode/

.DS_Store

Thumbs.db


build/
dist/
*.egg-info/